{% extends 'base.html.twig' %}

{% block title %}{{ shoppingList.name }} - {{ parent() }}{% endblock %}
{% block navTitle shoppingList.name %}
{% block navLeft %}
    <a href="{{ path('app_shoppinglists') }}" class="headerButton">
        <ion-icon name="chevron-back-outline" role="img" class="md hydrated" aria-label="chevron back outline"></ion-icon>
    </a>
{% endblock %}

{% block body %}
    In progress ...
{% endblock %}
