{% extends 'base.html.twig' %}

{% block title %}{{ 'shoppingList.list.title'|trans }} - {{ parent() }}{% endblock %}
{% block navTitle 'shoppingList.list.title'|trans %}
{% block navRight %}
    <a href="{{ path('app_shoppinglist_save') }}" class="headerButton" title="{{ 'shoppingList.list.add'|trans }}">
        <i class="fas fa-plus"></i>
    </a>
{% endblock %}

{% block body %}
    <div class="section mt-2">
        {% include 'shoppingList/_items.html.twig' with { shoppingLists } only %}
    </div>
{% endblock %}
